@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lilita+One&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
}

:root {
    --clr-primary: '#03045e';
    --clr-secondry: '#e63946';
    --clr-text : '#fff';
    --clr-black: '#000';
    --clr-white: '#fff';
}

html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 62px; */
    width: 100%;
    background: #03045e;
    color: #fff;
}

.logo {
    flex: 0 0 200px;
    /* margin-right: auto; */
}

.navigation {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.navigation__item {
    padding: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.navigation__item:hover {
    background-color: #e63946;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #e63946;
    color: #fff;
}

.hero__text {
    font-family: 'Lilita One', Lato, sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
}